* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: black;
  display: flex;
  flex-direction: line;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}
.icon {
  width: 50px;
}
.logo {
  padding-left: 15px;
  width: 250px;
}
.botaoheader {
  font-size: 20px;
  background-color: transparent;
  color: white;
  margin: 2px;
  border-style: double;
  border-color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.6s;
}
.botaoheader:hover {
  border-color: #ff0044;
}
